<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <style type="text/css">
            html, body {height: auto !important;margin: 0px;padding: 0px;font-family: Roboto, sans-serif;}
            .title_background {background-position: center top;background-repeat: no-repeat;height: 160px;background-color: rgb(255, 179, 41);color:#fff;}
            a, a:hover {text-decoration:underline;color:#000;}
            .p20 {padding:15px 15px 0px 15px;}
        </style>
    </head>
    <body>
        <table>
            <tbody>
                <tr>
                    <td>
                        <table style="width:100%;text-align:left;margin-left:auto;margin-right:auto;">
                            <tbody>
                                <tr class="title_background">
                                    <td align="center" colspan="2">
                                        <h1 style="font-size:23px;line-height:1.1;margin:20px 0 0 0">Witaj w naszej społeczności!</h1><br>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="p20">
                                        <p>Cieszymy się, że tu jesteś. Aktywuj swoje konto klikająć <a href="https://azilla.pl/public/activation/{{token}}" rel="nofollow" target="_blank" title="Verify Email">ten link akrywacyjny</a>.</p>
                                        <p>
                                            Aktywacja konta włącza następujące funkcje:
                                            <ul>
                                                <li>Dodawanie swoich wpisów</li>
                                                <li>Komentowanie</li>
                                                <li>Ocenianie</li>
                                            </ul>     
                                        </p>
                                        <p>Bez przeszkód wyrażaj siebie, kontaktuj się z innymi osobami oraz udostępniaj ważne dla Ciebie informacje.</p>
                                        <p>Miłego dnia!</p>
                                        <p><small><i>Wiadomość wygenerowana automatycznie, prosimy na nią nie odpowiadać.</i></small></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                       <hr>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="p20">
                                       <small>© www.azilla.pl | {{ "now"|date("Y") }}</small>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>